.tag_product{
    color: red;
}
.wrapper-card{
    color: green;
    font-size: 50px;
    
}
.wrapper-card{
    color: yellow; 
}
.producto_2{
    color: green;
}
.tag_product{
    color: purple;!important
    }
#card{
    color: aqua;
}